/* Basic CSS Reset */
*
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;

/* General Layout */
.container
  max-width: 1138px;
  width: 90%;
  margin: 0 auto;

/* Header Layout */
header
  text-align: center;
  background: #005792;
  border-bottom: 6px solid #fd5f00;

  a
    display: inline-block;

  a.logo
    margin: 14px auto;
    width: 350px;

    img
      width: 100%;

  nav

    a
      padding: 8px 12px;
      margin: 0 14px;
      color: #fff;
      font-size: 14px;
      position: relative;

    a.active,
    a:hover
      background: #fd5f00;
      color: #005792;
      border-radius: 3px 3px 0 0;

    a::before
      content: "";
      position: absolute;
      bottom: 12px;
      right: -17px;
      height: 38%;
      width: 2px;
      background: #13334c;
      opacity: .7;

    a:first-child::before
      width: 3px;

    a:last-child::before
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      height: 0;
      width: 0px;
      background: #13334c;

    a:first-child
      margin-left: 0;

    a:last-child
      margin-right: 0;

/* Footer Layout */
footer
  position: fixed;
  left: 0;
  right: 0;
  bottom: 10px;
  text-align: center;
  opacity: .5;

  p
    font-size: 10px;

    a
      color: #fd5f00;
