/* Google Font - Import */
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');

/* Basic CSS Reset */
*
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;

/* General Layout */
.container
  width: 960px;
  margin: 0 auto;

body
  background: #13334c;

h1, h2, h3, h4, h5, h6
  font-family: 'Lora', serif;
  font-weight: 300;

/* Header Layout */
header
  text-align: center;
  background: #005792;
  border-bottom: 6px solid #fd5f00;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;

  a
    display: inline-block;

  a.logo
    margin: 14px auto;
    width: 350px;

    img
      width: 100%;

  nav

    a
      padding: 8px 12px;
      margin: 0 18px;
      color: #fff;
      font-size: 18px;
      position: relative;

    a.active,
    a:hover
      background: #fd5f00;
      color: #005792;
      border-radius: 3px 3px 0 0;

    a::before
      content: "";
      position: absolute;
      bottom: 12px;
      right: -17px;
      height: 38%;
      width: 2px;
      background: #13334c;
      opacity: .7;

    a:last-child::before
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      height: 0;
      width: 0px;
      background: #13334c;

    a.active:first-child
      margin-left: 0;

    a:last-child
      margin-right: 0;

/* Section Layout */
section
  padding-top: 125px;
  box-sizing: border-box;

/* Homepage Layout */
#homepage
  height: 100vh;
  background: url(../img/background.jpg)no-repeat center -60px;
  background-size: cover;
  position: relative;
  z-index: -2;

  .container
    text-align: center;

    .swiper-button-prev,
    .swiper-button-next
      top: 70% !important;
      color: #f9f9f9 !important;

    h2
      background: #005792;
      color: #fff
      display: inline-block;
      font-size: 56px;
      margin-top: 120px;
      margin-bottom: 20px;
      padding: 8px 40px;

    p
      display: inline;
      font-size: 22px;
      line-height: 2.5;
      padding: 6px 12px;
      background: #fff;
      -webkit-box-decoration-break: clone;
      -ms-box-decoration-break: clone;
      -o-box-decoration-break: clone;
      box-decoration-break: clone;

/* About Us Layout */
#aboutus

  .container

    .verse
      text-align: center;
      margin: 60px 0;

      h1
        display: inline;
        font-size: 42px;
        padding: 5px 15px;
        color: #fff;
        line-height: 1.75;
        background: #005792;
        -webkit-box-decoration-break: clone;
        -ms-box-decoration-break: clone;
        -o-box-decoration-break: clone;
        box-decoration-break: clone;

    .block
      background: #fff;
      padding: 0 30px 40px;
      margin-bottom: 30px;

      h2
        font-size: 36px;
        text-align: center;
        margin-bottom: 30px;
        background: #005792;
        color: #fff;
        padding: 15px 0;

      p
        text-align: justify;
        line-height: 1.75;

    .block-two
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 30px;
      margin-bottom: 30px;

      p
        text-align: center;

/* Sermons Layout */
.sermons
  background: #fff;
  margin-top: 30px;
  padding: 20px;
  display: grid;
  grid-template-columns: 300px auto;
  grid-gap: 20px;

  .sermons-block
    position: relative;

    p.date
      text-align: right;

      span
        font-size: 12px;
        font-weight: bold;
        padding: 6px 12px;
        color: #fff;
        background: #005792;
        display: inline-block;

    h2
      margin: 65px 0 6px;
      font-size: 36px;
      border-bottom: 1px solid #333;

    p.presented
      font-size: 14px;

      span
        font-weight: bold;
        padding-left: 6px;

    .sermons-block_link
      position: absolute;
      right: 0;
      bottom: 0;

      a
        background: #fd5f00;
        color: #fff;
        padding: 10px 20px;
        display: inline-block;
        border: 1px solid #fd5f00;

      a:last-child
        background: #fff;
        color: #fd5f00;
        margin-left: 5px;

      a:last-child:hover
        background: #fd5f00;
        color: #fff;

  .sermons-block:first-child
    background: #005792;
    height: 300px;

.sermons:last-child
  margin-bottom: 50px;

/* Gallery Layout */
.gallery
  background: #fff;
  margin-top: 30px;
  padding: 20px;

  h2
    font-size: 36px;
    text-align: center;
    margin: 10px 0 30px;

    span
      background: #005792;
      color: #fff;
      padding: 8px 20px;
      display: inline-block;

  .gallery-block
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;

    .gallery-block_photo
      background: #959595;
      height: 176px;
      position: relative;

    .gallery-block_photo::before
      content: "Click Me";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      color: #fff;

    .gallery-block_photo:hover
      background: #005792;
      cursor: pointer;

    .gallery-block_photo:hover::before
      opacity: 1;

.gallery
  margin-bottom: 50px;

/* Video Layout */
.video
  margin: 40px 0 55px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;

  .video-block
    padding: 25px;
    background: #fff;

    .video-block_holder
      background: #005792;
      height: 300px;
      margin-bottom: 15px;

    p.title
      font-family: 'Lora', serif;
      font-size: 24px;
      display: inline-block;
      border-bottom: 2px solid #333;
      line-height: 1.25;
      margin-bottom: 8px;

    p.desc
      font-size: 14px;

      span
        font-weight: bold;
        color: #005792;
        display: inline-block;
        padding-left: 5px;

/* Footer Layout */
footer
  position: fixed;
  left: 0;
  right: 0;
  bottom: 10px;
  text-align: center;
  opacity: .8;
  z-index: -1;

  p
    font-size: 10px;
    color: #fff;

    a
      color: #fd5f00;
